import 'package:freezed_annotation/freezed_annotation.dart';

part '{{MODEL_NAME}}_model.freezed.dart';
part '{{MODEL_NAME}}_model.g.dart';

@freezed
class {{PASCAL_MODEL_NAME}}Model with _${{PASCAL_MODEL_NAME}}Model {
  const factory {{PASCAL_MODEL_NAME}}Model({
{{#HAS_FIELDS}}
{{FIELDS}}
{{/HAS_FIELDS}}
  }) = _{{PASCAL_MODEL_NAME}}Model;

  factory {{PASCAL_MODEL_NAME}}Model.fromJson(Map<String, dynamic> json) =>
      _${{PASCAL_MODEL_NAME}}ModelFromJson(json);
}